*{margin: 0;padding: 0;box-sizing: border-box;}
body{background: #e7dfcf;}

/*font-family: "Montserrat", sans-serif;*/
/*font-family: "EB Garamond", serif;*/

--root{
    --color-oscuro : #2c2d2a;
    --color-claro: #e7dfcf;
}

.container{max-width: 80%;margin: 0 auto;}

.menu-amburguesa{width: 30px;cursor: pointer;display: flex;}
.header{display: flex;justify-content: space-between;    padding: 20px 0;
    border-bottom: solid thin #bcb9b9;}

.logo{display: block;height: 27px;margin-left: 20px;}
.logo:hover{cursor: pointer;}
.box-logo{align-items: center;}
.flex{display: flex;}
.menu-p li{list-style: none;}
.menu-p li a{
    text-decoration: none;
    width: 120px;
    color:var(--color-oscuro);
    font-family: "Montserrat", sans-serif;
    display: block;
    padding: 3px 10px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.icon{width: 20px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
}
.icon:hover{
     opacity: .5;
}
.box-menu {display: flex;justify-content: center;align-items: center;}
.banner-principal{color: #2c2d2a;padding-top: 80px;}
.columna1{width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna2{width: 60%;}
.columna3{
    width: 10%;
    justify-content: space-between;
    flex-direction: column;
}
.titulo{font-family:"EB Garamond", serif;font-size: 8.5rem;}
.subtitle{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-size: 25px;
    font-weight: 600;
}
.precio{font-family:"EB Garamond", serif;font-size: 2.6rem;}

.columna2{display: flex;justify-content: center;align-items: center;}
.columna2 img{max-width: 650px;}

.p1{
    max-width: 390px;
    font-size: 31px;
    padding-bottom: 20px;
}
.p2{
    max-width: 390px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px;
}
.btn_comprar:after{
    content: "→";
    font-size: 28px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 3px
}
.btn_comprar{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 164px;
}

.arrows{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #2c2d2a;
    border-radius: 40px;
    font-size: 31px;
    cursor: pointer;
}
.paginas{
    text-align: right;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.mover{justify-content: space-around;}
.arrows:hover{
    background: #414141;
    color: #fff;
}

.t{transition: all .3s ease-in-out;}